/* FOOTER */

#footer { 
	margin: 8rem 0 0 0; 
	padding: 5rem; 
	background-color: rgb(167, 201, 87);
}

#footer .heading {
	text-align: center; 
	padding: 0 0 1rem 0; 
	color: white;
}

#footer .heading h2 {
	color: white;
	
}

#footer .credit {
	color: white; 
	margin: 4rem 0 0 0; 
	text-align: center; 
	font-size:0.8rem;
}

#footer i {
	background-color: rgb(255,255,255,0);
	padding: 0.9rem 0.8rem;
	border: 2px solid rgb(255,255,255,0.6);
	border-radius: 50%;
	margin: 0 0.5rem;
	color: white;
	transition: color 0.4s, background-color 0.4s;
}

#footer i:hover {
	color: rgb(167, 201, 87);
	background-color: white;
	cursor: pointer;
}