@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');  

* {	font-family: 'Nunito', sans-serif; color: rgb(0,0,0,0.8);}


/* ELEMENTS */

.container-fluid h2 {
	font-size: 3rem;
	font-family: 'Ramabhadra', sans-serif;		
}

.container-fluid h6 {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 1rem 0;
	color:rgb(167, 201, 87);
}

.container-fluid p {
	font-size: 1.1rem;
}

.container-fluid a {
	color: rgb(167, 201, 87);
	text-decoration: none;
	border-bottom: 1px solid rgb(0,0,0,0);
	transition: color 0.4s;
}

.container-fluid a:hover {
	color: rgb(167, 201, 87, 0.6);
	text-decoration: none;
}

/* BUTTONS */

.container-fluid .btn {
	border: 2px solid rgb(167, 201, 87);
	background-color: rgb(255,255,255,0);
	color: rgb(167, 201, 87);
	border-radius: 3rem;
	transition: background-color 0.4s, color 0.4s;
	padding: 0.6rem 1.9rem;
	font-size: 1.1rem;
}

.container-fluid .btn:hover {
	background-color: rgb(167, 201, 87);
	color: white;
}