/* NAVBAR */

nav {
	z-index: 9999; 
	background-color: white;
}
.navbar {
	padding: 1rem 1rem;
	text-transform: uppercase;
}
.navbar-brand, .nav-link {
	margin: 0 0rem;
}
.navbar-brand {
	font-family: 'Ramabhadra', sans-serif;		
	font-weight: bold;
	background-color: rgb(167, 201, 87);
	color: white;
	border-radius: 50%;
	padding: 1rem 0.4rem;
	transition: color 0.4s;
}
.navbar-brand:hover {
	color: rgb(167, 201, 87, 0.6);
}
.nav-link {
	color: rgb(167, 201, 87);
	text-decoration: none;
	border-bottom: 1px solid rgb(0,0,0,0);
	transition: color 0.4s;
}
.nav-link:hover {
	color: rgb(167, 201, 87, 0.6);
	text-decoration: none;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
	background-color: rgb(167, 201, 87,1);
	border-color: rgb(167, 201, 87,1);
} 